
@font-face {
    font-family: 'bauhaus_93regular';
    src: url('fonts/bauhaus_93_regular.woff2') format('woff2'),
         url('fonts/bauhaus_93_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


div {
    width: 600px;
    min-height: 777px;
    background-color: rgb(237, 237, 237);
    border: 1px solid black;
    margin: 10px;
    padding: 60px;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
}


#mysecondparagraph {
    font-family: "lores-12", sans-serif;
    font-weight: 700;
    text-align: right;
    width: 50ch;
    margin-left: auto;
    border-right: 1px solid black;
    padding-right: 10px;
}

#mylargeX {
    font-family: "lores-12", sans-serif;
    font-weight: 700;
    font-size: 75px;
}

#mylargeA {
    font-family: 'bauhaus_93regular';    
    font-size: 75px;
}

#myfirstparagraph, #mythirdparagraph {
    line-height: 36px;
}

#myfirstparagraph {
    margin-top: 120px;
    border-left: 1px dotted black;
    padding-left: 10px;
}